<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img  *ngIf="data?.otherDetails?.media[0]?.type === 'photo'" class="img-fluid" [src]="data?.otherDetails?.media[0]?.url" alt="">
                        <video  controls  *ngIf="data?.otherDetails?.media[0]?.type === 'video'" [src]="data?.otherDetails?.media[0].variants[data?.otherDetails?.media[0].variants.length -1].url" ></video>
                    </div>
                    <div *ngFor="let image of data?.otherDetails?.media;let i=index" class="feature-img">
                        <img  *ngIf="i !==0" class="img-fluid" [src]="image?.url" alt="">
                    </div>
                    <div class="blog_details">
                     
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a><i class="fa fa-user"></i>{{data?.hashTagStr | uppercase}}</a></li>
                            
                        </ul>
                        <p [innerHTML]="data?.title" class="excert">
                           
                        </p>
                        <div class="row">
                     <div  (click)="openLink(link)" *ngFor="let link of allLinks" class="col-md-4">
                        <nz-card nzHoverable style="width:100%" [nzCover]="coverTemplate">
                            <nz-card-meta [nzTitle]="link?.title" [nzDescription]="link.description"></nz-card-meta>
                          </nz-card>
                          <ng-template #coverTemplate>
                            <img [alt]="link?.url" [src]="link?.image" />
                          </ng-template>
                        </div>

                    </div>
                        <!-- <ngx-link-preview   *ngFor="let link of allLinks" [parseForLinksStr]="link"  [getApiEndpoint$]="apiCallbackFn" [apiRoute]="baseUrl"   ></ngx-link-preview> -->
                     
                    
                    </div>
                </div>


            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">


                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recent Post</h3>
                        <div  (click)="gotoContent(news)" *ngFor="let news of recentNews" class="media post_item">
                            <img [src]="news?.otherDetails?.media[0]?.url ||  news?.otherDetails?.media[0]?.preview_image_url" alt="post">
                            <div class="media-body">
                                <a >
                                    <h3 class="news-head text-data" [innerHtml]="news?.title" ></h3>
                                </a>
                                <p>{{news?.createdAt | date}}</p>
                            </div>
                        </div>
                      
                    </aside>


                </div>
            </div>
        </div>
    </div>
</section>