<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img  class="img-fluid" [src]="data?.otherDetails?.media[0]?.url" alt="">
                    </div>
                    <div class="blog_details">
                     
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a><i class="fa fa-user"></i>{{data?.hashTagStr | uppercase}}</a></li>
                            
                        </ul>
                        <p class="excert">
                            {{data?.title}}
                        </p>
                      
                    
                    </div>
                </div>


            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">


                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recent Post</h3>
                        <div *ngFor="let news of recentNews" class="media post_item">
                            <img [src]="news?.otherDetails?.media[0]?.url" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3 class="news-head text-data" >{{news?.title}}</h3>
                                </a>
                                <p>{{news?.createdAt | date}}</p>
                            </div>
                        </div>
                      
                    </aside>


                </div>
            </div>
        </div>
    </div>
</section>