<main>
    <!--   what you love start -->
    <app-what-you-love></app-what-you-love>
    <!-- End Weekly-News -->
    <!-- Whats New Start -->
    <app-for-you></app-for-you>
    <!-- Whats New End -->
    <!-- Trending Area Start -->
    <app-trending></app-trending>
    <!-- Trending Area End -->



    <!--   Weekly-News start -->
    <app-weekly-top></app-weekly-top>
    <!-- End Weekly-News -->
    <!--  Recent Articles start -->
    <app-recent></app-recent>
    <!--Recent Articles End -->

</main>

<!-- <app-footer></app-footer> -->