<section class="whats-news-area pt-50 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-3 col-md-3">
                        <div class="section-tittle mb-30">
                            <h3>Weekly Top</h3>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Nav Card -->
                        <div class="tab-content" id="nav-tabContent">
                            <!-- card one -->
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="whats-news-caption">
                                    <div class="row">
                                        <div (click)="gotoContent(news)" *ngFor="let news of data" class="col-md-3 col-sm-6">
                                            <div class="single-what-news mb-100">
                                                <div class="what-img what-img-small">
                                                    <img [src]="news?.otherDetails?.media[0]?.url ||  news?.otherDetails?.media[0]?.preview_image_url" alt="">
                                                </div>
                                                <div class="what-cap">
                                                    <span class="color1">{{news?.hashTagStr | uppercase}}</span>
                                                    <h4 class="news-head" ><a [innerHtml]="news?.title"></a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            <!-- Card two -->
                       
                        </div>
       
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>